# Auth
ADMIN_KEY=change_me_admin_secret
AUTH_TOKEN_SECRET=change_me_jwt_secret

# Google Sheets Service Account
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id
GOOGLE_USERS_SHEET=users
GOOGLE_ITEMS_SHEET=inventory
GOOGLE_MOVEMENTS_SHEET=movements

# Telegram
TELEGRAM_BOT_TOKEN=123456:ABCDEF
TELEGRAM_DEFAULT_CHAT_ID=
